.description-list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.description-item {
  flex-basis: 100%;
  display: inline-block;
  width: 270px;
  height: 251px;
  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 30px) / 2);
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 90px) / 4);
  }
}

.description-icons {
  width: 100%;
  // width: 270px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  background: #f5f4fa;
  border-radius: 4px;
}

.description-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.description-title {
  @include font(700, 14px, 1.14, 0.03em);
  text-transform: uppercase;
  color: var(--first-text-color);
  margin-bottom: 10px;
  text-align: center;
  @media screen and (min-width: 768px) {
    @include font(700, 14px, 1.14, 0.03em);
    text-align: left;
  }
}

.description-after-title {
  @include font(null, 14px, 1.7, 0.03em);
  color: var(--second-text-color);
  width: 100%;
  max-height: 75px;
}
