body {
  font-family: "Roboto", sans-serif;
  color: #212121;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 1200px) {
    padding-bottom: 94px;
    padding-top: 94px;
  }
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}
